@use './reset.scss';

body {
    font-family: var(--font-family);
    background-color: #494949;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #505050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }